{% extends 'base.html' %}
{% load humanize %}

{% block contents %}
<div class = "row mt-5">
    <div class = "col-12">
        <table class = "table table-light">
            <thead class = "thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">사용프린터</th>
                    <th scope="col">토너명</th>
                    <th scope="col">재고</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody class="text-dark">
                {% for product in product_list %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                <th><a href="/product_p/{{ product.id }}">{{ product.name_printer }}</a></th>
                    <th>{{ product.stock }}</th>
                    <th>{{ product.stock|intcomma }}원</th>
                    <th>{{ product.register_date|date:'Y-m' }}</th>
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}