{%if error_message %} <p><strong>{{ error_message }}</strong></p>{% endif %}

<form>
  <h1>This is detailPage</h1>
{% for p in prod %}
<h1>--------------------------------------------------------------------</h1>
<li class="list-group-item">사용프린터 : {{ p.name_product}} </li>
<li class="list-group-item">프린터색상 : {{ p.color_product}} </li>
<li class="list-group-item">재고 : {{ p.stock}}개 </li>
<li class="list-group-item">등록날짜 : {{ p.register_date }} </li>
<h1>--------------------------------------------------------------------</h1>
{% endfor %}

  <!-- 해당 question의 선택지들을 하나씩 보여준다 .all()이 아닌것 주의 -->
  
</form>